.room {
    height: 100%;
    margin: 0;
    text-align: center;
    border: 2px solid lightgrey;
    padding: 20px;
  }
  .lit {
    background-color: white;
    color: black;
  }
  .dark {
    background-color: black;
    color: white;
  }